# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: GoImports reviser

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.18

    - name: Set up Homebrew
      id: set-up-homebrew
      uses: Homebrew/actions/setup-homebrew@master

    - name: Install Homebrew goimports reviser
      run: |
         brew tap incu6us/homebrew-tap
         brew install incu6us/homebrew-tap/goimports-reviser
    
    - name: Checkout PR branch
      uses: actions/checkout@v3
        
    - name: Run reviser
      id: go-imports
      run: |
        git fetch origin main
        files=$(git diff --name-status origin/master | grep ".go$" | awk '{print $2}')
        for x in $files
        do
            goimports-reviser -rm-unused -set-alias -imports-order "std,general,company,project" $x
        done
      
    - name: Commit and push
      uses: stefanzweifel/git-auto-commit-action@v4
      with:
        branch: ${{ github.event.pull_request.head.ref || github.head_ref || github.ref }}
        commit_user_name: 'r3-bot'
        commit_user_email: 'github-actions[bot]@users.noreply.github.com'
        commit_message: "[BOT] Autofix | Go imports Formatter"


